# 處理 outliers
* 新增欄位註記
* outliers 或 NA 填補
    1. 平均數 (mean)
    2. 中位數 (median, or Q50)
    3. 最大/最小值 (max/min, Q100, Q0)
    4. 分位數 (quantile)

In [1]:
import os
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# 設定【data的資料夾路徑】，命名為【data_folder】
data_folder = 'C:/Users/Ynitsed/Documents/GitHub/2nd-ML100Days/data'

# 設定t001為某個data路徑
# 設定t002為pd裡read data的功能
# 註釋一下路徑位置，%s參數(和%d)的使用方法與限制，參考learning。
t001 = os.path.join(data_folder, 'application_train.csv')
t002 = pd.read_csv(t001)
print('Path of read in data: %s' %t001)
print(t002.shape)
t002.head()

Path of read in data: C:/Users/Ynitsed/Documents/GitHub/2nd-ML100Days/data\application_train.csv
(307511, 122)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

## 1. 列出 AMT_ANNUITY 的 q0 - q100
但AMT_ANNUITY的q0-q100到底是什麼意思呢？  
q0~q100表示有101個數字：
1. q0  是最小值
2. q100是最大值
3. q1~q99將資料切成100個等份

In [3]:
q_0 = np.percentile(t002[~t002['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], 0)
t003_0 = [np.percentile(t002[~t002['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], q = i) for i in range(0)]
print(q_0)
print(t003_0)

1615.5
[]

In [4]:
q_1 = np.percentile(t002[~t002['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], 1)
t003_1 = [np.percentile(t002[~t002['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], q = i) for i in range(1)]
print(q_1)
print(t003_1)

6182.910000000001
[1615.5]

In [5]:
q_2 = np.percentile(t002[~t002['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], 2)
t003_2 = [np.percentile(t002[~t002['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], q = i) for i in range(2)]
print(q_2)
print(t003_2)

6750.0
[1615.5, 6182.910000000001]

In [6]:
q_3 = np.percentile(t002[~t002['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], 3)
t003_3 = [np.percentile(t002[~t002['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], q = i) for i in range(3)]
print(q_3)
print(t003_3)

7875.0
[1615.5, 6182.910000000001, 6750.0]

In [7]:
q_4    =  np.percentile(t002[~t002['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], 4)
t003_5 = [np.percentile(t002[~t002['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], q = i) for i in range(5)]
print(q_4)
print(t003_5)

8703.0
[1615.5, 6182.910000000001, 6750.0, 7875.0, 8703.0]

## 可以發現，range(x)、qi，i = x - 1
## 所以range(0)當然沒東西，因為這代表 i = -1，而 i 最小從0開始
## 因此，必須寫成range(51)，此時 i = 50，才看得到第50分位數，也就是中位數。

In [8]:
q_50    =  np.percentile(t002[~t002['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], 50)
t003_51 = [np.percentile(t002[~t002['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], q = i) for i in range(51)]
print(q_50)
print(t003_51)

24903.0
[1615.5, 6182.910000000001, 6750.0, 7875.0, 8703.0, 9000.0, 9000.0, 9553.5, 10125.0, 10503.0, 11074.5, 11430.0, 11970.0, 12375.0, 12838.5, 13302.0, 13500.0, 13500.0, 13896.0, 14350.5, 14701.5, 15124.5, 15583.5, 15970.5, 16209.0, 16524.0, 16852.5, 17109.0, 17487.0, 17806.5, 18189.0, 18643.5, 19102.5, 19417.5, 19836.0, 20151.0, 20421.0, 20853.0, 21186.0, 21609.0, 21865.5, 22018.5, 22342.5, 22527.0, 22972.5, 23346.0, 23719.5, 23931.0, 24259.5, 24583.589999999953, 24903.0]

In [9]:
q_98    =  np.percentile(t002[~t002['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], 98)
t003_99 = [np.percentile(t002[~t002['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], q = i) for i in range(99)]
print(q_98)
print(t003_99)

62964.0
[1615.5, 6182.910000000001, 6750.0, 7875.0, 8703.0, 9000.0, 9000.0, 9553.5, 10125.0, 10503.0, 11074.5, 11430.0, 11970.0, 12375.0, 12838.5, 13302.0, 13500.0, 13500.0, 13896.0, 14350.5, 14701.5, 15124.5, 15583.5, 15970.5, 16209.0, 16524.0, 16852.5, 17109.0, 17487.0, 17806.5, 18189.0, 18643.5, 19102.5, 19417.5, 19836.0, 20151.0, 20421.0, 20853.0, 21186.0, 21609.0, 21865.5, 22018.5, 22342.5, 22527.0, 22972.5, 23346.0, 23719.5, 23931.0, 24259.5, 24583.589999999953, 24903.0, 25240.5, 25537.5, 25960.5, 26217.0, 26316.0, 26640.0, 26860.5, 27189.0, 27558.0, 28062.0, 28480.5, 28917.0, 29340.0, 29830.5, 30078.0, 30483.0, 30897.0, 31275.0, 31630.5, 32004.0, 32458.5, 32895.0, 33376.5, 33984.0, 34596.0, 35345.16000000005, 35806.5, 36328.5, 36747.0, 37516.5, 37948.5, 38556.0, 39456.0, 40135.5, 40806.0, 41845.5, 42790.5, 43735.5, 44991.0, 45954.0, 47254.5, 48465.0, 49878.0, 51745.5, 53325.0, 55624.5, 58482.0, 62964.0]

In [10]:
q_99    =  np.percentile(t002[~t002['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], 99)
t003_100 = [np.percentile(t002[~t002['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], q = i) for i in range(100)]
print(q_99)
print(t003_100)

70006.5
[1615.5, 6182.910000000001, 6750.0, 7875.0, 8703.0, 9000.0, 9000.0, 9553.5, 10125.0, 10503.0, 11074.5, 11430.0, 11970.0, 12375.0, 12838.5, 13302.0, 13500.0, 13500.0, 13896.0, 14350.5, 14701.5, 15124.5, 15583.5, 15970.5, 16209.0, 16524.0, 16852.5, 17109.0, 17487.0, 17806.5, 18189.0, 18643.5, 19102.5, 19417.5, 19836.0, 20151.0, 20421.0, 20853.0, 21186.0, 21609.0, 21865.5, 22018.5, 22342.5, 22527.0, 22972.5, 23346.0, 23719.5, 23931.0, 24259.5, 24583.589999999953, 24903.0, 25240.5, 25537.5, 25960.5, 26217.0, 26316.0, 26640.0, 26860.5, 27189.0, 27558.0, 28062.0, 28480.5, 28917.0, 29340.0, 29830.5, 30078.0, 30483.0, 30897.0, 31275.0, 31630.5, 32004.0, 32458.5, 32895.0, 33376.5, 33984.0, 34596.0, 35345.16000000005, 35806.5, 36328.5, 36747.0, 37516.5, 37948.5, 38556.0, 39456.0, 40135.5, 40806.0, 41845.5, 42790.5, 43735.5, 44991.0, 45954.0, 47254.5, 48465.0, 49878.0, 51745.5, 53325.0, 55624.5, 58482.0, 62964.0, 70006.5]

In [11]:
# 1: 計算 AMT_ANNUITY 的 q0 - q100
q_100    =  np.percentile(t002[~t002['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], 100)
t003_101 = [np.percentile(t002[~t002['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], q = i) for i in range(101)]
print(q_100)
print(t003_101)

258025.5
[1615.5, 6182.910000000001, 6750.0, 7875.0, 8703.0, 9000.0, 9000.0, 9553.5, 10125.0, 10503.0, 11074.5, 11430.0, 11970.0, 12375.0, 12838.5, 13302.0, 13500.0, 13500.0, 13896.0, 14350.5, 14701.5, 15124.5, 15583.5, 15970.5, 16209.0, 16524.0, 16852.5, 17109.0, 17487.0, 17806.5, 18189.0, 18643.5, 19102.5, 19417.5, 19836.0, 20151.0, 20421.0, 20853.0, 21186.0, 21609.0, 21865.5, 22018.5, 22342.5, 22527.0, 22972.5, 23346.0, 23719.5, 23931.0, 24259.5, 24583.589999999953, 24903.0, 25240.5, 25537.5, 25960.5, 26217.0, 26316.0, 26640.0, 26860.5, 27189.0, 27558.0, 28062.0, 28480.5, 28917.0, 29340.0, 29830.5, 30078.0, 30483.0, 30897.0, 31275.0, 31630.5, 32004.0, 32458.5, 32895.0, 33376.5, 33984.0, 34596.0, 35345.16000000005, 35806.5, 36328.5, 36747.0, 37516.5, 37948.5, 38556.0, 39456.0, 40135.5, 40806.0, 41845.5, 42790.5, 43735.5, 44991.0, 45954.0, 47254.5, 48465.0, 49878.0, 51745.5, 53325.0, 55624.5, 58482.0, 62964.0, 70006.5, 258025.5]

## 2.1 將 AMT_ANNUITY 中的 NAs 暫時以中位數填補
## 2.1 將 NAs 以 q50 填補

In [12]:
# 在取代之前，有12個null值
print("Before replace NAs, numbers of row that AMT_ANNUITY is NAs: %i" % sum(t002['AMT_ANNUITY'].isnull()))

# 拿中位數取代null，雖然這樣做不是很合理，總之學一下Python語法怎麼做【取代】這件事。

# 令一個【q_51】是中位數，上面有出現過了。
q_51 = np.percentile(t002[~t002['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], 51)

# 令【null的那些值】等於【q_51】
t002.loc[t002['AMT_ANNUITY'].isnull(),'AMT_ANNUITY'] = q_51

# 所以也可以直接寫成下列這樣，省略製造【q_51】的動作
# t002.loc[t002['AMT_ANNUITY'].isnull(),'AMT_ANNUITY'] = np.percentile(t002[~t002['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], 51)

# 在取代之後，沒有null值了。
print(" After replace NAs, numbers of row that AMT_ANNUITY is NAs: %i" % sum(t002['AMT_ANNUITY'].isnull()))

Before replace NAs, numbers of row that AMT_ANNUITY is NAs: 12
 After replace NAs, numbers of row that AMT_ANNUITY is NAs: 0

## 2.2 將 AMT_ANNUITY 的數值標準化至 -1 ~ 1 間

### Hints: Normalize function (to -1 ~ 1)
$ y = 2*(\frac{x - min(x)}{max(x) - min(x)} - 0.5) $

In [13]:
# 2.2 Normalize values to -1 to 1
# 創建函式，把要處理的動作寫好，並把將要被處理的資料寫成參數。
# 創建欄位，直接指定欄位名稱【AMT_ANNUITY_NORMALIZED】是【fun1(t002['AMT_ANNUITY'])】。
# 我真的是很討厭把自變數和應變數命名成同一個(x)的人，這樣寫不是很亂嗎！

print("== Original data range ==")
print(t002['AMT_ANNUITY'].describe())

def fun1(x):
    y = (( (x - min(x)) / ( max(x) - min(x) ) ) - 0.5) * 2
    return y

t002['AMT_ANNUITY_NORMALIZED'] = fun1(t002['AMT_ANNUITY'])

print("== Normalized data range ==")
t002['AMT_ANNUITY_NORMALIZED'].describe()

== Original data range ==
count    307511.000000
mean      27108.501011
std       14493.459215
min        1615.500000
25%       16524.000000
50%       24903.000000
75%       34596.000000
max      258025.500000
Name: AMT_ANNUITY, dtype: float64
== Normalized data range ==

count    307511.000000
mean         -0.801154
std           0.113049
min          -1.000000
25%          -0.883714
50%          -0.818357
75%          -0.742752
max           1.000000
Name: AMT_ANNUITY_NORMALIZED, dtype: float64

## 3. 將 AMT_GOOD_PRICE 的 NAs 以眾數填補

In [14]:
# 3
# 列出重複最多的數值
t004 = t002['AMT_GOODS_PRICE'].value_counts().head()
print (t004)

# 在取代之前，有278個null值
print("Before replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: %i" % sum(t002['AMT_GOODS_PRICE'].isnull()))

# 拿眾數取代null，雖然這樣做不是很合理，總之學一下Python語法怎麼做【取代】這件事。

# 令一個【x】，將所有數值出現的次數作加總，接著依最大到最小列成list
x = list(t002['AMT_GOODS_PRICE'].value_counts().index)
print(x[0])

# 令【null的那些值】等於【x列表的第一個(0)】
t002.loc[t002['AMT_GOODS_PRICE'].isnull(), 'AMT_GOODS_PRICE'] = x[0]

print("After replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: %i" % sum(t002['AMT_GOODS_PRICE'].isnull()))

450000.0    26022
225000.0    25282
675000.0    24962
900000.0    15416
270000.0    11428
Name: AMT_GOODS_PRICE, dtype: int64
Before replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: 278
450000.0
After replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: 0

### Day7教材方向和目標
1. 百分位數percentile的用法和range()的關係
2. 創建函式、創建欄位、取代某欄位裡面的某些值
3. isnull、normalize、中位數、眾數

### Day7忽略部分
1. value_counts()的熟悉
2. index的應用

### Day7其他補充
教材答案列【range(100)】是錯的，要列【range(101)】才能把q0~q100給列出來。